/* -------------- this for adminission form ------------------- */
* {
	margin: 0px;
	padding: 0px;
}

section {
	
	
}

nav {
	margin-right: 2%;
	
}

#mainbodyposition {

	float: left;
	margin-left: 1%;
	margin-right: auto;	
	width: 83%;
}
#myborder {
	background-color: #9cbedd;
	padding-top: 10px;
	margin-bottom: 6px;
}
#addnew {
	float: left;
	margin-left: 15%;
	width: 25%;

	
}

#button {
	padding: 2px 4px 2px 4px;
	width: 7em;
	margin-right: 8%;
	margin-bottom: 10px;
	
}

input:focus {
	background-color: #ffff80;
	
}
table {
	width: 100%;
	border-collapse: collapse;
}
th {
	text-align: center;
	background-color: #5a94c5;
	padding: 3px 0px 3px 0px;
	font-size: 90%;
}
td {
	text-align: center;
	background-color: #cedfee;
	padding: 3px 0px 3px 0px;
	
}

#th1 {
	width: 9%;
	text-align: center
}
#th2 {
	width: 9%;
	text-align: center
}
#th3 {
	width: 9%;
	text-align: center
}
#th4 {
	width: 20%;
	text-align: center
}
#th5 {
	width: 16%;
	text-align: center
}
#th6 {
	width: 16%;
	text-align: center
}
#th7 {
	width: 12%;
	text-align: center
}
#th8 {
	width: 4%;
	text-align: center
}
#section1 {
	background-color: lightblue;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 5%;

}
.subsectionheading {
	background-color: blue;
		
}

.subsubsection {
	float: left;
	margin-right: 8%;
	margin-bottom: 8%;
}
